<h1>{{ title }}</h1>
<a href="/addStudent"><button>Add Student</button></a>
<table>
    <thead></thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    <tbody>
        <tr>
            <td>Aaron Smith</td>
            <td>555-5555</td>
            <td>abc@gmail.com</td>
            <td>edit delete</td>
        </tr>
    </tbody>

</table>